@import '../../variables';

.button {
    border-radius: 10em;
    padding: 0.5em 1em;
    display: inline-block;
    background: $gradient-left;
    font-size: $fs-regular;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    color: $font-primary;
    box-shadow: 0.25em 0.75em 1em rgba($cyangreen, 0.4);

    &.secondary {
       border: 2px solid $font-primary; 
       background: transparent;
       position: relative;

       &.light {
        border-color: $font-primary-light;
        color: $font-primary-light;
       }
    }

    &.secondary, &.noshadow {
        box-shadow: none;
    }

    
    * {
        z-index: 2;
        position: relative;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        background-color: $font-primary;
        width: 100%;
        height: 100%;
        transition: calc($standard-transition * 2 / 3) ease-out;
        transform: scaleY(0);
        transform-origin: bottom;
    }

    &.light:hover {
        color: $font-primary;
    }

    &.light::after {
        background-color: $font-primary-light;
    }

    &:hover {
        color: $background-teriary;
        font-weight: 500;

        &::after {
            transform: scaleY(1);
        }
    }

    &.primary > * {
        transition: calc($standard-transition / 2);
    }

    &.primary:hover > * {
        font-weight: 500;
        background: $gradient-left;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}