$font-primary: white;
$font-secondary: gray;
$background-primary: #31292f;
$background-secondary: black;
$green: #04e762ff;
$cyan: #048a81ff;
$gradient-right: linear-gradient(to right, $green, $cyan);
$standard-transition: .3s;