$font-primary: white;
$font-secondary: gray;
$font-highlighted: #048a81ff;
$font-primary-light: black;
$font-secondary-light: gray;
$font-highlighted-light: rgb(2, 102, 96);

$fs-regular: 16px;
$fs-small: 12px;
$fs-medium: 18px;
$fs-large: 19px;
$fs-heading: 25px;

$background-primary: #31292f;
$background-secondary: #3d353b;
$background-teriary: black;
$background-light1: #edf2edff;
$background-light2: #c5d9ceff;
$bg-gradient-start: #32292fff;
$header-background: rgb(50, 41, 47);
$bg-gradient-end: #3a564eff;

$green: #04e762ff;
$cyangreen: #04b573;
$cyan: #048a81ff;

$gradient-right: linear-gradient(to right, $cyan, $cyangreen);
$gradient-left: linear-gradient(to left, $cyangreen, $cyan);
$standard-transition: .3s;
