@import '../../variables';

header {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    padding: 2em;
    font-size: $fs-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 1s, padding 1s;

    .header-logo {
        display: flex;
        align-items: center;
        font-size: 50px;
        margin: 0 0.5em 0 0;
        transition: font-size 1s;
    
        img {
            height: 1em;
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 30px;

        a:last-of-type {
            display: flex; /* centers help icon in a tag*/
        }
    }

    a {
        height: fit-content;
    }

    &.scrolled {
        background-color: $header-background;
        backdrop-filter: blur(10px);
        padding: 0.75em 2em;

        .header-logo {
            font-size: 30px;
        }
    }
}

.help-icon {
    height: 1.5em;
}
